*{
    color:white;
    text-align: center;
    scroll-behavior: smooth;
}

body{
    background-color: #161A31;
}

a{
    text-decoration-line: none;
}

section{
    margin: 6rem;
}

footer{
    color: gray;
    padding: 3rem;
}

.container{
    margin: 3rem;
}

.container_grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 75px; 
}

.menu{
    font-size: 1.2rem;
    margin: 1.5rem;
    color: gray;
    transition: color 0.3s ease;
    cursor: pointer;
}

.menu:hover{
    color: white;
}

.intro{
    font-size: 2rem;
}

.highlight{
    color: #CBACF9;
}

.title{
    font-size: 1.6rem;
    margin-bottom: 1.1rem;
}

.skill_button{
    font-size: 0.9rem;
    background-color: #0C0E23;
    padding: 0.5rem 0.8rem;
    border-radius: 1.8rem;
    border: 1px solid #CBACF9;
    transition: box-shadow 0.3s ease;
}

.skill_button:hover{
    box-shadow: 0 0 5px 1px #CBACF9;
}

.project{
    padding: 0.5rem;
    border-radius: 1rem;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.project:hover{
    transform: scale(1.02);
}

.project_img{
    width: 350px;
    height: 170px;
    border-radius: 1rem;
    margin-bottom: 15px;
}

.project_title{
    font-weight: 700;
    font-size: 1.1rem;
    margin: 10px;
}

.project_desc{
    height: 100px;  
    text-align: left;
    margin-bottom: 20px;
}

.project_skill{
    font-size: 0.85rem;
    background-color: #0C0E23;
    padding: 0.5rem 0.8rem;
    border-radius: 1.8rem;
    border: 1px solid #CBACF9;
    transition: box-shadow 0.3s ease;
}

.project_skill:hover{
    box-shadow: 0 0 5px 1px #CBACF9;
}

.contect_container{
    margin-bottom: 30px;
}

.contect_button{
    background: linear-gradient(70deg,#A76DFC,#5C1CB2);
    padding: 0.8rem 1rem;
    border-radius: 1.8rem;
    transition: box-shadow 0.3s ease;
}

.contect_button:hover{
    box-shadow: 0 0 5px 1px #CBACF9;
}